$primary-color: hsl(245, 75%, 52%);
$on-primary: hsl(0, 0%, 100%);

$primary-accent: hsl(225, 100%, 98%);

$bg-color: hsl(225, 100%, 94%);

$text-color: hsl(224, 23%, 55%);
$heading-color: hsl(223, 47%, 23%);

$border-radius: 10px;
